REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0

S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="change-me"
S3_SECRET_ACCESS_KEY="change-me"
S3_ENDPOINT="http://localhost:9000"
S3_FORCE_PATH_STYLE=true

PDF_LINEARIZATION_ENABLED=true
PDF_LINEARIZATION_REQUIRED=false
PDF_LINEARIZATION_QPDF_PATH="qpdf"
PDF_LINEARIZATION_FIX_QDF_PATH="fix-qdf"
PDF_LINEARIZATION_REBALANCE_PAGE_TREE_ENABLED=true
PDF_LINEARIZATION_PAGE_TREE_GROUP_SIZE=32

PDF_RASTERIZATION_PDFTOPPM_PATH="pdftoppm"
PDF_METADATA_PDFINFO_PATH="pdfinfo"
PDF_METADATA_PDFTOTEXT_PATH="pdftotext"

PDF_OCR_ENABLED=true
PDF_OCR_LANGUAGE="eng"
PDF_OCR_TESSERACT_PATH="tesseract"
PDF_OCR_TARGET_WIDTH=1800
PDF_OCR_DPI=300
PDF_OCR_PSM=6
PDF_OCR_PDF_OUTPUT_ENABLED=true
PDF_OCR_OCRMYPDF_PATH="ocrmypdf"
